@import '../../../../styles/variables';

form {
  margin: 15px 0;
}

.select {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 40px;

  &-container {
    display: flex;
    flex-direction: column;
  }
}

mat-error {
  margin: 5px 120px;
}

.button {
  margin-left: 150px;
  button {
    margin-right: 10px;
    border: 1px solid $color-blue;
  }
}
