<div class="car__result-wrapper">
  <div class="car__header">
    <div class="car__carriage-data">
      <div class="car__name">Car {{ numberCar }}</div>
      <div class="car__seats-number">
        Seats:
        {{
          car.info.leftSeats * car.info.rows +
            car.info.rightSeats * car.info.rows
        }}
      </div>
    </div>
    <!-- <button class="car__update-carriage" (click)="onUpdateCarriage()">
      Update
    </button> -->
  </div>
  <div class="car__display">
    <div
      class="car__seats-wrapper"
      *ngFor="let row of [].constructor(car.info.rows); let rowIndex = index">
      <div class="car__right-seats">
        <div
          *ngFor="
            let seat of [].constructor(car.info.rightSeats);
            let seatIndex = index
          "
          class="car__seat"
          [ngClass]="{
            'car__seat--is-active': isOccupiedSeat(
              rowIndex * (car.info.leftSeats + car.info.rightSeats) +
                car.info.leftSeats +
                seatIndex +
                1
            ),
          }">
          {{
            rowIndex * (car.info.leftSeats + car.info.rightSeats) +
              car.info.leftSeats +
              seatIndex +
              1
          }}
        </div>
      </div>
      <div class="car__left-seats">
        <div
          *ngFor="
            let seat of [].constructor(car.info.leftSeats);
            let seatIndex = index
          "
          class="car__seat"
          [ngClass]="{
            'car__seat--is-active': isOccupiedSeat(
              rowIndex * (car.info.leftSeats + car.info.rightSeats) +
                seatIndex +
                1
            ),
          }">
          {{
            rowIndex * (car.info.leftSeats + car.info.rightSeats) +
              seatIndex +
              1
          }}
        </div>
      </div>
    </div>
  </div>
</div>
