<div class="orders">
  <h2 class="orders__title">Orders</h2>

  <span class="orders__loading" *ngIf="isLoading"> Loading... </span>

  <ng-container *ngIf="!isLoading">
    <span class="orders__no-orders" *ngIf="noOrdersFound">No orders</span>

    <ng-container *ngIf="!noOrdersFound">
      <div class="orders__list">
        <app-order-item
          *ngFor="let order of transformedOrders"
          [order]="order"
          [isManager]="isManager"
          [onCancel]="openCancelModal.bind(this)">
        </app-order-item>
      </div>
    </ng-container>
  </ng-container>
</div>

<app-cancel-order-modal
  *ngIf="isModalVisible"
  [orderId]="selectedOrder!.id"
  [customerName]="selectedUserName"
  [isManager]="isManager"
  (cancelConfirmed)="cancelOrder(selectedOrder!.id)"
  (closed)="isModalVisible = false"></app-cancel-order-modal>
