@import '../../../../styles/variables';

:host {
  width: fit-content;
}
.carriages {
  &__resultWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: $color-black;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    border: 1px solid $color-gray;
    border-radius: 2%;
    box-sizing: border-box;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__carriageData {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: auto;
  }

  &__updateCarriage {
    background-color: $color-blue;
    padding: 8px;
    color: #ffffff;
    width: auto;
    max-width: 100%;
    box-sizing: border-box;
  }

  &__display {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 45px;
    width: 100%;
    overflow-x: auto;
  }

  &__seatsWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    max-width: 100%;
    overflow-x: auto;
  }

  &__rightSeats,
  &__leftSeats {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 5px;
    margin-bottom: 10px;
    max-width: 100%;
  }

  &__seat {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-blue;
    color: #ffffff;
    width: 25px;
    height: 25px;
    font-size: 12px;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .carriages {
    &__resultWrapper {
      padding: 15px;
      gap: 15px;
    }

    &__header {
      gap: 5px;
    }

    &__updateCarriage {
      padding: 8px;
    }
  }
}

@media screen and (max-width: 375px) {
  .carriages {
    &__resultWrapper {
      padding: 10px;
      gap: 10px;
    }

    &__header {
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
    }

    &__updateCarriage {
      align-self: flex-end;
    }

    &__display {
      column-gap: 5px;
    }
  }
}
