@import '../../../../styles/variables';

.wrapper {
  display: grid;
  grid-template-columns: 20% 75%;
  gap: 5%;
}
.admin-navigation {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  font-weight: 800;
  background-color: $color-gray;
  padding: 20px;
  height: 100%;
  &__link {
    color: $color-black;
    text-decoration: none;
    border-bottom: 1px solid gray;
  }
  &__link.active {
    color: $color-blue;
  }
}

@media screen and (max-width: 768px){
  .wrapper {
    grid-template-columns: 35% 60%;
  }
}
