<div class="profile__modal modal" *ngIf="isPasswordModalOpen">
  <h3 class="modal__title">Change Password</h3>
  <label for="newPassword">New Password</label>
  <input
    type="{{ isHoveredPassword ? 'text' : 'password' }}"
    placeholder="Enter at least 8 characters"
    id="newPassword"
    [formControl]="editPasswordInput"
    (mouseenter)="isHoveredPassword = true"
    (mouseleave)="isHoveredPassword = false" />
  <button
    class="modal__button"
    (click)="changePassword()"
    [disabled]="!isPassLengthValid()">
    Save
  </button>
  <button class="modal__button" (click)="close()">Cancel</button>
</div>
