// COLORS
$color-purple: #3e2383;
$color-blue: #3572ce;
$color-black: #020403;
$color-gray: #b7b7b7;
$color-gray-secondary: #4e4c4c;
$color-red: #e71135;
$color-white: #ffffff;
$color-yellow: #ffdd00;
$color-green: #00de1a;

// SETTINGS
$desktop-xl: 1920px;
$desktop: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile-x: 425px;
$mobile: 320px;
