<div class="signup-container">
  <h2>Sign Up</h2>
  <form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()">
    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" />
      <div *ngIf="formControls.email.invalid && !emailExistsError">
        <small *ngIf="submitted && formControls.email.hasError('required')"
          >Required</small
        >
        <small *ngIf="formControls.email.hasError('pattern')"
          >Invalid email</small
        >
      </div>
      <div *ngIf="formControls.email.hasError('emailExists')">
        <small>{{ emailExistsError }}</small>
      </div>
    </div>

    <div>
      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password" />
      <div *ngIf="formControls.password.invalid">
        <small *ngIf="submitted && formControls.password.hasError('required')"
          >Required</small
        >
        <small *ngIf="formControls.password.hasError('minlength')"
          >Password must be at least 8 characters long</small
        >
      </div>
    </div>

    <div>
      <label for="repeatPassword">Repeat Password</label>
      <input
        id="repeatPassword"
        formControlName="repeatPassword"
        type="password" />
      <div
        *ngIf="
          formControls.repeatPassword.invalid ||
          signupForm.hasError('passwordsMismatch')
        ">
        <small
          *ngIf="submitted && formControls.repeatPassword.hasError('required')"
          >Required</small
        >
        <small *ngIf="signupForm.hasError('passwordsMismatch')"
          >Passwords do not match</small
        >
      </div>
    </div>

    <button
      type="submit"
      [disabled]="(signupForm.invalid && submitted) || emailExistsError">
      Register
    </button>
    <p>Already have an account? <a routerLink="/signin">Sign In</a></p>
  </form>
</div>
