<div class="stations">
  <div class="stations__create">
    <div class="stations__map"></div>
    <form class="stations__form" [formGroup]="formStations">
      <div class="stations__formWrapper">
        <label for="cityNameInput" class="stations__cityNameLabel"
          >City Name</label
        >
        <input type="text" id="cityNameInput" formControlName="name" />
        <div class="stations__error" *ngIf="formStations.get('name')?.touched">
          {{ getErrorMessage('name') }}
        </div>
      </div>
      <div class="stations__formWrapper">
        <label for="latitudeInput" class="stations__latitudeLabel"
          >Latitude</label
        >
        <input id="latitudeInput" formControlName="latitude" />
        <div
          class="stations__error"
          *ngIf="formStations.get('latitude')?.touched">
          {{ getErrorMessage('latitude') }}
        </div>
      </div>
      <div class="stations__formWrapper">
        <label for="longitudeInput" class="stations__longitudeLabel"
          >Longitude</label
        >
        <input id="longitudeInput" formControlName="longitude" />
        <div
          class="stations__error"
          *ngIf="formStations.get('longitude')?.touched">
          {{ getErrorMessage('longitude') }}
        </div>
      </div>
      <div class="stations__formWrapper">
        <label for="stations__selectStation" class="stations__connectedLabel"
          >Connected</label
        >
        <select name="stations__selectStation" id="stations__selectStation">
          <option value="">Select a station</option>
          <option
            *ngFor="let connectStation of connectedStations"
            value="connectStation"
            class="stations__optionStation">
            {{ connectStation }}
          </option>
        </select>
      </div>

      <button class="stations__submit" (click)="getAllStations()" type="button">
        Save
      </button>
    </form>
  </div>
  <div class="stations__display">
    <div
      class="stations__item"
      *ngFor="let station of stationsObserve$ | async">
      <div class="stations__name">{{ station.city }}</div>
      <div class="stations__coordinates">
        <div class="stations__latitude">{{ station.latitude }},</div>
        <div class="stations__longitude">{{ station.longitude }}</div>
      </div>
      <div class="stations__connectedTo">
        <div class="stations__connectName">Connected to:</div>
        <div
          class="stations__connectedItem"
          *ngFor="let stationConnect of station.connectedTo">
          {{ getCityNameById(stationConnect.id) }},
        </div>
      </div>
      <button class="stations__delete" [disabled]="formStations.invalid">
        <img src="delete.svg" alt="delete-icon" />
      </button>
    </div>
  </div>
</div>
