<div class="stations">
  <div class="stations__create">
    <div class="stations__map"></div>
    <form class="stations__form" [formGroup]="formStations">
      <div class="stations__formWrapper">
        <label for="cityNameInput" class="stations__cityNameLabel"
          >City Name</label
        >
        <input type="text" id="cityNameInput" formControlName="name" />
        <div class="stations__error" *ngIf="formStations.get('name')?.touched">
          {{ getErrorMessage('name') }}
        </div>
      </div>
      <div class="stations__formWrapper">
        <label for="latitudeInput" class="stations__latitudeLabel"
          >Latitude</label
        >
        <input id="latitudeInput" formControlName="latitude" />
        <div
          class="stations__error"
          *ngIf="formStations.get('latitude')?.touched">
          {{ getErrorMessage('latitude') }}
        </div>
      </div>
      <div class="stations__formWrapper">
        <label for="longitudeInput" class="stations__longitudeLabel"
          >Longitude</label
        >
        <input id="longitudeInput" formControlName="longitude" />
        <div
          class="stations__error"
          *ngIf="formStations.get('longitude')?.touched">
          {{ getErrorMessage('longitude') }}
        </div>
      </div>
      <div class="stations__formWrapper stations__connectedWrapper">
        <label for="stations__selectStation" class="stations__connectedLabel">
          Connected Stations
        </label>
        <div formArrayName="selectedStations">
          <div *ngFor="let control of selectedStations.controls; let i = index">
            <select
              [id]="'stations__selectStation' + i"
              [formControlName]="i"
              (change)="onStationSelect(i, $event)">
              <!-- <option value="">Select a station</option> -->
              <option
                *ngFor="let station of availableStations(i)"
                [value]="station.id">
                {{ station.city }}
              </option>
            </select>
          </div>
        </div>
        <div
          class="stations__error"
          *ngIf="selectedStations.invalid && selectedStations.touched">
          At least two stations must be selected.
        </div>
      </div>

      <button class="stations__submit" (click)="onSave()" type="button">
        Save
      </button>
    </form>
  </div>
  <div class="stations__display">
    <div class="stations__item" *ngFor="let station of stationList">
      <div class="stations__name">{{ station.city }}</div>
      <div class="stations__coordinates">
        <div class="stations__latitude">{{ station.latitude }},</div>
        <div class="stations__longitude">{{ station.longitude }}</div>
      </div>
      <div class="stations__connectedTo">
        <div class="stations__connectName">Connected to:</div>
        <div
          class="stations__connectedItem"
          *ngFor="let stationConnect of station.connectedTo">
          {{ getCityNameById(stationConnect.id) }},
        </div>
      </div>
      <div class="stations__deleteWrapper">
        <div
          class="stations__errorMessage"
          *ngIf="errorStationId === station.id">
          Cannot delete station. Part of an active ride.
        </div>
        <button
          class="stations__delete"
          (click)="onDeleteStation(station.id ?? 0)">
          <img src="delete.svg" alt="delete-icon" />
        </button>
      </div>
    </div>
  </div>
</div>
