<mat-card class="card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Route {{route.id}}</mat-card-title>
    <div class="icons">
      <div>
        <mat-icon>edit_square</mat-icon>
        <p>Update</p>
      </div>
      <div>
        <mat-icon>directions_bus</mat-icon>
        <p>Assign ride</p>
      </div>
      <div>
        <mat-icon (click)="openDialog()">delete</mat-icon>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div>
      <h6>Cities</h6>
      <p>{{route.path.join(' - ')}}</p>
    </div>
    <div>
      <h6>Carriage Types:</h6>
      <p>{{route.carriages.join(' - ')}}</p>
    </div>
  </mat-card-content>
</mat-card>