@import './styles/reset';
@import './styles/_variables.scss';
@import './styles/_mixins.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;

  .wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;

    @include mobile {
      max-width: 100%;
    }

    @include mobile-x {
      max-width: calc(100% - 40px);
    }

    @include tablet {
      max-width: $tablet;
    }

    @include laptop {
      max-width: $laptop;
    }

    @include desktop {
      max-width: 1150px;
    }

    @include desktop-xl {
      max-width: 1600px;
    }
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
