@import 'ngx-toastr/toastr';
@import './styles/reset';
@import './styles/_variables.scss';
@import './styles/_mixins.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;

  .wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;

    @include mobile {
      max-width: 100%;
    }

    @include mobile-x {
      max-width: calc(100% - 40px);
    }

    @include tablet {
      max-width: $tablet;
    }

    @include laptop {
      max-width: $laptop;
    }

    @include desktop {
      max-width: 1150px;
    }

    @include desktop-xl {
      max-width: 1600px;
    }
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-datepicker-content {
  box-shadow:
    0 2px 4px -1px #0003,
    0 4px 5px #00000024,
    0 1px 10px #0000001f;
  background-color: #fff;
  color: #000000de;
}

.mat-calendar-body-selected {
  background-color: #007f51;
  color: #fff;
}

.mat-calendar-body-cell-content {
  border: none !important;
}
