@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.results {
  &__not-found {
    margin-top: 40px;
    text-align: center;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;

    @include tablet {
      font-size: 18px;
    }

    @include laptop {
      font-size: 22px;
    }
  }

  &__desc {
    margin-top: 10px;
    font-size: 14px;

    @include tablet {
      font-size: 16px;
    }

    @include laptop {
      font-size: 18px;
    }
  }

  &__list {
    margin: 20px 0;
  }

  &__card-trip {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid $color-blue;
    margin-bottom: 30px;

    @include tablet {
      flex-direction: row;
      margin-bottom: 10px;
    }
  }

  &__info {
    display: flex;
    flex-flow: wrap;
    border-top: 1px solid $color-gray;
    padding: 10px 0;
    width: 100%;

    @include tablet {
      border: none;
      padding: 0;
      width: auto;
    }
  }

  &__info-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    height: 100%;

    &-wrap {
      padding: 5px 10px;

      @include laptop {
        padding: 10px 15px;
      }
    }
  }

  &__class {
    font-size: 16px;

    @include laptop {
      font-size: 18px;
    }
  }

  &__seats {
    margin: 2px 0;
    font-size: 12px;
    color: $color-gray;
  }

  &__price {
    font-size: 18px;
    font-weight: 600;

    @include tablet {
      font-size: 16px;
    }

    @include laptop {
      font-size: 20px;
    }
  }

  &__main-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 5px;
  }

  &__main-info {
    width: 100%;

    @include tablet {
      width: 35%;
    }

    @include laptop {
      width: 30%;
    }
  }

  &__stations-wrap {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid $color-blue;
    background: transparentize($color-gray, 0.8);
    width: 150px;
    padding: 2px 5px;
    margin: 10px 0; 
    font-size: 12px;
  }

  &__stations-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__route {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 22px;
    background: $color-blue;
    color: $color-white;
    padding: 2px 5px;
    border: 1px solid $color-blue;
    border-radius: 5px;

    &:hover {
      background: transparentize($color-blue, 0.3);
    }
  }

  &__time-wrap {
    font-size: 14px;
    font-weight: 600;
    color: $color-blue;
    text-align: center;
  }

  &__station {
    &-day {
      font-size: 14px;
      font-weight: 600;
    }

    &-date {
      font-size: 12px;
      margin: 2px 0;
    }

    &-name {
      font-size: 12px;
      font-weight: 600;
    }

    &:last-child {
      text-align: right;
    }

    @include laptop {
      &-day {
        font-size: 16px;
      }

      &-date {
        font-size: 14px;
        margin: 5px 0;
      }

      &-name {
        font-size: 14px;
      }
    }
  }
}
