<div class="wrapper">
  <app-admin-navigation></app-admin-navigation>
  <div class="carriages">
    <div class="carriages__manageCarriages">
      <button class="carriages__create" (click)="onCreateCarriage()">
        Create
      </button>
    </div>
    <form *ngIf="formDisplay" class="carriages__form">
      <label for="carriages__carriageName" class="carriages__nameLabel"
        >Name</label
      >
      <input placeholder="Carriage name" id="carriages__carriageName" />
      <label for="carriages__rows" class="carriages__rowsLabel">Rows</label>
      <input placeholder="Count of rows" id="carriages__rows" />
      <label for="carriages__leftSeatsNumber" class="carriages__leftSeatsLabel"
        >Left Seats</label
      >
      <input
        placeholder="Count of left seats"
        id="carriages__leftSeatsNumber" />
      <label
        for="carriages__rightSeatsNumber"
        class="carriages__rightSeatsLabel"
        >Right Seats</label
      >
      <input
        placeholder="Count of right seats"
        id="carriages__rightSeatsNumber" />
      <button *ngIf="isCreating" class="carriages__save">Save</button>
      <button *ngIf="isUpdating" class="carriages__update">Update</button>
    </form>
    <div class="carriages__list">
      <app-carriage-item
        *ngFor="let carriage of carriages"
        [carriage]="carriage"
        (click)="onSelectCarriage(carriage)"></app-carriage-item>
    </div>
  </div>
</div>
